name: Test with uv

on:
  push:
    branches: [ main]
  pull_request:
    branches: [ main ]

jobs:
  test-uv-and-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: install uv
        uses: astral-sh/setup-uv@v4
        with:
          python-version: '3.11'
          uv-version: 'latest'

      - name: Install dependencies
        run: |
          uv sync
          uv sync --group dev

      - name: Lint
        run: |
          uv run ruff check .

      - name: Test
        run: |
          uv run pytest tests/